@media all and (max-width: 1000px){
  .main-tambahan-2{
    margin-top: -30px;
  }
  .main-tambahan-2 h1{
    margin-bottom: 80px;
  }
  .main-tambahan-1{
    height: 1800px;
  }
  .place{
    margin-left: 250px;
    margin-bottom: 30px
  }
}
